*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.clearfix{
    content: "";
    clear: both;
    display: table;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

body{
    min-width: 1244px;
    background-image: url(./img/bg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.header{
    text-align: center;
}

.header>h1{
    padding: 2rem;
    font-size: 2rem;
    color: #f5f5f5;
    text-shadow: -3px 4px #e63371;

}

h1, h2{
    font-family: 'Fredoka One', cursive;
}

h2{
    padding-bottom: .3rem;
    text-shadow: -2px 2px #e63371;
}

p{
    font-size: 1.1rem;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
}


.card{
    margin: 3rem 1rem 0 ;
    width: calc( (100% / 3) - 2rem );
    background-color: #0f0e17;
    box-shadow: rgb(230, 51, 113) 0px 0px 0px 5px;
    border-radius: 1px;
}

.card>img{
    width: 5.5rem;
}

.info{
    float: left;
    margin: .8rem .8rem;
    line-height: 1rem;
    color: #f5f5f5;
    font-size: .8rem;
    font-family: 'Fredoka', sans-serif;
}

a{
    color: #39b6f8;
}

.role{
    font-weight: lighter;
}

blockquote{
    text-align: center;
    padding: 3rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5rem;
    color: #000000;
}
